@import "./_typography";
@import "./_layout";
@import "./_variables";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $purple;
 height: 100%;
}
body{
  margin: 0;
  border-top: 1px solid $purple;
  
}



